.drawing
  h2
    position: absolute
  canvas
    position: absolute
    top: 0
    left: 0

  .colours
    position: absolute
    right: 0
    top: 0

    span
      display: block
      width: 8vw
      height: 8vh
      margin-top: 2vh
      border: 2px groove #999
      border-radius: 8px

    .red
      background-color: red

    .orange
      background-color: orange

    .yellow
      background-color: yellow

    .green
      background-color: green

    .blue
      background-color: blue

    .indigo
      background-color: indigo

    .violet
      background-color: violet

    .black
      background-color: black

    .white
      background-color: white


